@charset 'UTF-8'

@import reset
@import variables
@import typography

@import components/grid
@import components/basket
@import components/cabinet
@import components/logo
@import components/navigation

@import blocks/head
@import blocks/header
@import blocks/feedback




html
    font-size: 10px
    font-family: $font-main
    color: $black

a
    text-decoration: none
    color: $black

button
    background-color: transparent

    .acc
        display: flex
        justify-content: center
        align-items: center
        
        
    a
        font-size: 1.3rem
        text-transform: uppercase
        font-weight: bold


.wrapper__feedback
    display: flex
    align-items: flex-end
    height: 100%
    
                    
                









