.aside
    display: flex
    flex-direction: column

    padding-top: 1.8rem
    padding-right: 1.5rem
    padding-bottom: 1.5rem
    padding-left: 1.5rem

    border: 0.1rem solid #eaeae2
    border-radius: 0.3rem

    box-shadow: inset 0px 3px 0px 0px #eaeae2

    &__category
        font-size: 1.3rem
        font-weight: bold
        line-height: 1.5
        text-decoration: none
        color: $text-gray

        margin-bottom: 2.7rem

        &:first-child
            color: $text

        &:last-child
            margin-bottom: 0