.aside
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start

    padding-top: 1.8rem
    padding-right: 1.5rem
    padding-bottom: 1.5rem
    padding-left: 1.5rem

    border: 0.1rem solid #eaeae2
    border-radius: 0.3rem

    box-shadow: inset 0px 3px 0px 0px #eaeae2

    transition: border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease

    &:hover
        border-color: #000
        background-color: #fff
        box-shadow: none

    &-category
        

        
    
    &__category
        font-size: 1.3rem
        font-weight: bold
        line-height: 1.5
        color: $text-gray
        text-align: left

        margin-bottom: 2.7rem
        max-width: 17.2rem  

        background-color: transparent
        cursor: pointer

        transition: color 0.3s ease

        &:last-child
            margin-bottom: 0

        &:hover, 
        &:active
            color: $green

    .active
        color: $text