.catalog
    padding-top: 3.9rem
    background-color: #f7f7f3

    &-wrapper
        border-bottom: 0.1rem solid $gray

    &-cards
        display: flex
        flex-wrap: wrap

        margin-bottom: 1rem