.catalog
    padding-top: 3.9rem

    min-width: fit-content

    &-wrapper
        border-bottom: 0.1rem solid $gray

    &-cards
        display: flex
        flex-wrap: wrap

        margin-bottom: 1rem