.feedback
    border-radius: 0.3rem
    border: 0.1rem solid #eaeae2

    .desc
        padding-top: 1.7rem
        padding-left: 1.5rem
        border-bottom: 0.1rem solid #eaeae2

        h3
            font-size: 1.8rem
            margin-bottom: 0.4rem

        span
            font-size: 1.5rem
            color: $text-gray

        h2
            margin-top: 2.2rem
            margin-bottom: 2rem

            a
                font-size: 2rem

    .links
        padding-top: 1.7rem
        padding-right: 2.4rem
        padding-bottom: 0.3rem
        padding-left: 1.5rem 

        button
            margin-bottom: 1rem
            display: flex
            align-items: center
            cursor: pointer

            svg
                width: 2rem
                margin-right: 1rem  

            span
                font-size: 1.4rem
                border-bottom: 0.1rem solid #fff

                transition-property: all
                transition-duration: 0.3s

            &:hover span
                border-bottom: 0.1rem solid #000