.slider
    display: flex
    margin-top: 2rem
    margin-left: -1rem
    margin-right: -1rem

    &-buttons
        display: flex
        border: 1px solid $gray
        border-radius: 2px

    &__button
        display: flex
        justify-content: center
        align-items: center

        width: 3.2rem
        height: 3.2rem

        background-color: transparent

        cursor: pointer

        &:last-child
            border-left: 1px solid $gray

    &-item
        display: flex
        flex-direction: column
        flex-basis: 25%

        padding-left: $col-padding*0.5
        padding-right: $col-padding*0.5

    &__date
        font-size: 1.3rem
        font-weight: bold
        color: $text-gray

        margin-bottom: 1.6rem

    &__link
        text-decoration: none



