.basket
    border-radius: 0.2rem
    background-color: $green
    box-shadow: 0 0.3rem 0 #6a960c

    margin-top: -0.4rem
    padding-top: 1.3rem
    padding-right: 3.1rem
    padding-bottom: 1.2rem
    padding-left: 2.8rem

    transition-property: all
    transition-duration: 0.5s
    
    &:hover
        transform: translateY(0.3rem)
        box-shadow: 0 -0.3rem 0 #6a960c