.layout
    max-width: 100rem
    margin-left: auto
    margin-right: auto
    padding-left: 3rem
    padding-right: 3rem

.grid
    display: flex
    margin-left: -($col-padding*0.5)
    margin-right: -($col-padding*0.5)

@mixin column
    padding-left: $col-padding*0.5
    padding-right: $col-padding*0.5  

.col-
    &1
        flex-basis: 8.333%
        @include column

    &2
        flex-basis: 16.666%
        @include column

    &3
        flex-basis: 25%
        @include column

    &4
        flex-basis: 33.333%
        @include column

    &5
        flex-basis: 41.666%
        @include column

    &6
        flex-basis: 50%
        @include column

    &7
        flex-basis: 58.333%
        @include column

    &8
        flex-basis: 66.666%
        @include column
    
    &9
        flex-basis: 75%
        @include column

    &10
        flex-basis: 83.333%
        @include column

    &11
        flex-basis: 91.666%
        @include column

    &12
        flex-basis: 100%
        @include column
