body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.circle {
  width: 100vmin;
  height: 100vmin;
  background: rgb(170, 154, 154);
  border-radius: 50%;
}
